@{
    ViewBag.Title = "About Mint Hill Music";
    ViewBag.Message = "An ASP.NET MVC Application";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>"Mint Hill Music" serves as an example of an ASP.NET MVC project. 
    The relational database was created with Code First Migrations and then incorporated into the 
    standard Model-View-Controller pattern. User authentication and security was set up with the 
    help of the Entity Framework. C# provides behind-the-scenes functionality 
    to support a front-end designed through HTML, CSS, and Javascript/jQuery.</p>
<img src="~/Content/Images/c-sharp.png" class="img-circle"/>
<img src="~/Content/Images/dot-net.png"class="img-circle" />
<img src="~/Content/Images/entity.png" class="img-circle"/>
<img src="~/Content/Images/icon-javascript.png" class="img-circle"/>