@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active parent-carousel">

            <img src="~/content/images/banner1.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Unleash your talent and grow as a musician.
                    </p>
            </div>

        </div>
        <div class="item">
            <img src="~/content/images/banner2.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Find instructors near you.
                     </p>
            </div>
        </div>
        <div class="item">
            <img src="~/content/images/banner3.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Discover songs for any skill level.

                </p>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Discover Songs</h2>
        <p>
            Search through hundreds of songs sorted by genre and skill level.
        </p>
        <p><a class="btn btn-default" href="Songs">Find Songs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find an Instructor</h2>
        <p>Connect with a local instructor to grow in your craft as a musician.</p>
        <p><a class="btn btn-default" href="Instructors">Find Instructors &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About This App</h2>
        <p>Learn about the .NET technology behind Mint Hill Music</p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
</div>