body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



@media screen and (min-width: 501px) and (max-width: 800px) {
    .item {
        background-size: 100%;
        max-height: 300px;
    }

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }
}

@media screen and (max-width: 500px) {
    .item {
        background-size:cover%;
        max-height: 200px;
    }

    .carousel-caption p {
        font-size: 30px;
        line-height: 1.4;
    }
}

@media screen and (min-width: 801px) {
    .item {
        background-size: 100%;
        max-height: 400px;
    }
    .carousel-caption p {
        font-size: 50px;
        line-height: 1.4;
    }
}